<%layout("/layouts/boilerplate")%>



<div class="row mt-5">
    <div class="alert alert-danger offset-3 col-6" role="alert">
        
        <strong>Warning! </strong> <%=err.message%>
    </div>

</div>